
<% provide(:title, 'Clock+ | Home') %>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-12">
            <h1>Clock+</h1>
            <br />
            <p>Clock+ | by Monkolsophearith Prum | s3848409@student.rmit.edu.au | Credit Level | Tuesday Group</p>
        </div>

        <div class="col-sm-3 side-bar">
            <p><i class="fa fa-circle dot-green"></i> Business time</p>
            <p><i class="fa fa-circle dot-yellow"></i> Business overtime</p>
            <p><i class="fa fa-circle dot-red"></i> Personal time</p>
            <p><i class="fa fa-moon-o"></i> Sleeping time</p>
        </div>

        <div class="col-sm-6">
            <div class="timezone-container">
                <div class="cityname">
                    <%=Time.zone.name%>
                    <p class="comparetime">Current</p>
                </div>
                <div class="citytime">
                    <div class="time"><%=Time.current.strftime("%H:%M") %></div>
                    <% if (Time.current.strftime("%H").to_i >= 9) && (Time.current.strftime("%H").to_i <= 17) %>
                        <div class="day">Today <i class="fa fa-circle dot-green"></i></div>
                    <% elsif (Time.current.strftime("%H").to_i >= 18) && (Time.current.strftime("%H").to_i <= 19) %>
                        <div class="day">Today <i class="fa fa-circle dot-yellow"></i></div>
                    <% elsif (Time.current.strftime("%H").to_i == 8) || ((Time.current.strftime("%H").to_i >= 20) && (Time.current.strftime("%H").to_i <= 22)) %>
                        <div class="day">Today <i class="fa fa-circle dot-red"></i></div>
                    <% elsif (Time.current.strftime("%H").to_i >= 23) || (Time.current.strftime("%H").to_i <= 7) %>
                        <div class="day">Today <i class="fa fa-moon-o"></i></div>
                    <% end %>
                </div>
            </div>

            <% @selectedTimeZones.each do |timezone| %>
                <div class="timezone-container">
                    <div class="cityname">
                        <%=timezone%>
                        <% @timeNow = Time.zone.now.in_time_zone(timezone)%>
                        <% @timeZone = Time.zone.now %>
                        <% @timeDiff = @timeNow.utc_offset - @timeZone.utc_offset %>
                        <% @compareTime = @timeDiff/60/60%>
                        <% if ( @compareTime >= 0 ) %>
                            <p class="comparetime">+<%= @compareTime %> HRS</p>
                        <% else %>
                            <p class="comparetime"><%= @compareTime %> HRS</p>
                        <% end %>
                    </div>
                    <div class="citytime">
                        <div class="time">
                            <%=Time.current.in_time_zone(timezone).strftime("%H:%M") %>
                        </div>
                        <% if (Time.current.in_time_zone(timezone).strftime("%H").to_i >= 9) && (Time.current.in_time_zone(timezone).strftime("%H").to_i <= 17) %>
                            <div class="day">Today <i class="fa fa-circle dot-green"></i></div>
                        <% elsif (Time.current.in_time_zone(timezone).strftime("%H").to_i >= 18) && (Time.current.in_time_zone(timezone).strftime("%H").to_i <= 19) %>
                            <div class="day">Today <i class="fa fa-circle dot-yellow"></i></div>
                        <% elsif (Time.current.in_time_zone(timezone).strftime("%H").to_i == 8) || ((Time.current.in_time_zone(timezone).strftime("%H").to_i >= 20) && (Time.current.in_time_zone(timezone).strftime("%H").to_i <= 22)) %>
                            <div class="day">Today <i class="fa fa-circle dot-red"></i></div>
                        <% elsif (Time.current.in_time_zone(timezone).strftime("%H").to_i >= 23) || (Time.current.in_time_zone(timezone).strftime("%H").to_i <= 7) %>
                            <div class="day">Today <i class="fa fa-moon-o"></i></div>
                        <% end %>
                    </div>
                </div>
            <%end%>
            <div class="add-timezone">
                <i class="fa fa-plus"></i>
            </div>
        </div>

        <div class="col-sm-3">
            <p>Color Theme</p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="black" autocomplete="off" checked> Black
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="white" autocomplete="off"> White
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="pink" autocomplete="off"> Pink
                </label>
            </div>
            <p></p>
            <div class="form-check">
                <%= form_tag hour_path, :method => 'get' do %>
                    <%= label_tag "12-hour Clock" %>
                    <%= check_box :hourtype, :onclick => 'this.form.submit()' %>
                    <%= submit_tag "Go", class:"btn btn-sm btn-secondary"%>
                <% end %>
            </div>            
        </div>
        
    </div>
</div>
